{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}
<header class="site-archive-header">
    {{> site-header}}
    {{> header-background background=feature_image}}
    {{!--Special header-image.hbs partial to generate the background image--}}
    <div class="inner site-header-content">
        <h1 class="site-title">{{name}}</h1>
        <h2 class="site-description">
            {{#if description}}
            {{description}}
            {{else}}
            A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
            {{/if}}
        </h2>
    </div>
    </div>
</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed">
            {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>
