<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            {{#if @site.logo}}
            <a class="site-nav-logo" href="{{@site.url}}"><img
                    src="https://res.cloudinary.com/dvl4mykxw/image/fetch/w_600,h_400,c_fit/{{@site.logo}}"
                    alt="{{@site.title}}" /></a>
            {{else}}
            <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
            <div class="site-nav-content">
                {{#if @site.navigation}}
                {{navigation}}
                {{/if}}
                {{#is "post"}}
                <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
                {{/is}}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @site.secondary_navigation}}
        {{navigation type="secondary"}}
        {{else}}
        <div class="social-links">
            {{#if @site.facebook}}
            <a class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook"
                target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}
            {{#if @site.twitter}}
            <a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank"
                rel="noopener">{{> "icons/twitter"}}</a>
            {{/if}}
        </div>
        {{#unless @labs.members}}
        <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS"
            target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        {{/unless}}
        {{/if}}

        {{#if @labs.members}}
        <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {{/if}}
    </div>
</nav>
